In [1]:
#Import libraries and packages

import pandas as pd
import numpy as np

In [2]:
#Import the dataset
df = pd.read_csv(r"C:\Users\Oludipe j\Documents\Data Analysis\Data Glacier\Cross Selling\Train.csv", low_memory=False)

df

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,...,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
0,2015-01-28,1375586,N,ES,H,35,2015-01-12,0.0,6,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
1,2015-01-28,1050611,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
2,2015-01-28,1050612,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
3,2015-01-28,1050613,N,ES,H,22,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
4,2015-01-28,1050614,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13647304,2016-05-28,1166765,N,ES,V,22,2013-08-14,0.0,33,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
13647305,2016-05-28,1166764,N,ES,V,23,2013-08-14,0.0,33,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
13647306,2016-05-28,1166763,N,ES,H,47,2013-08-14,0.0,33,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
13647307,2016-05-28,1166789,N,ES,H,22,2013-08-14,0.0,33,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
13647308,2016-05-28,1550586,N,ES,H,37,2016-05-13,1.0,0,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0

In [3]:
#Set to display all columns
pd.set_option('display.max_columns', None)

df

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,ult_fec_cli_1t,indrel_1mes,tiprel_1mes,indresi,indext,conyuemp,canal_entrada,indfall,tipodom,cod_prov,nomprov,ind_actividad_cliente,renta,segmento,ind_ahor_fin_ult1,ind_aval_fin_ult1,ind_cco_fin_ult1,ind_cder_fin_ult1,ind_cno_fin_ult1,ind_ctju_fin_ult1,ind_ctma_fin_ult1,ind_ctop_fin_ult1,ind_ctpp_fin_ult1,ind_deco_fin_ult1,ind_deme_fin_ult1,ind_dela_fin_ult1,ind_ecue_fin_ult1,ind_fond_fin_ult1,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
0,2015-01-28,1375586,N,ES,H,35,2015-01-12,0.0,6,1.0,NaN,1.0,A,S,N,NaN,KHL,N,1.0,29.0,MALAGA,1.0,87218.10,02 - PARTICULARES,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
1,2015-01-28,1050611,N,ES,V,23,2012-08-10,0.0,35,1.0,NaN,1,I,S,S,NaN,KHE,N,1.0,13.0,CIUDAD REAL,0.0,35548.74,03 - UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
2,2015-01-28,1050612,N,ES,V,23,2012-08-10,0.0,35,1.0,NaN,1,I,S,N,NaN,KHE,N,1.0,13.0,CIUDAD REAL,0.0,122179.11,03 - UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
3,2015-01-28,1050613,N,ES,H,22,2012-08-10,0.0,35,1.0,NaN,1,I,S,N,NaN,KHD,N,1.0,50.0,ZARAGOZA,0.0,119775.54,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
4,2015-01-28,1050614,N,ES,V,23,2012-08-10,0.0,35,1.0,NaN,1,A,S,N,NaN,KHE,N,1.0,50.0,ZARAGOZA,1.0,NaN,03 - UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13647304,2016-05-28,1166765,N,ES,V,22,2013-08-14,0.0,33,1.0,NaN,1,I,S,N,NaN,KHE,N,1.0,50.0,ZARAGOZA,0.0,43912.17,03 - UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
13647305,2016-05-28,1166764,N,ES,V,23,2013-08-14,0.0,33,1.0,NaN,1,I,S,N,NaN,KHE,N,1.0,26.0,"RIOJA, LA",0.0,23334.99,03 - UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
13647306,2016-05-28,1166763,N,ES,H,47,2013-08-14,0.0,33,1.0,NaN,1,A,S,N,NaN,KHE,N,1.0,50.0,ZARAGOZA,1.0,NaN,02 - PARTICULARES,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
13647307,2016-05-28,1166789,N,ES,H,22,2013-08-14,0.0,33,1.0,NaN,1.0,I,S,N,NaN,KHE,N,1.0,50.0,ZARAGOZA,0.0,199592.82,03 - UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
13647308,2016-05-28,1550586,N,ES,H,37,2016-05-13,1.0,0,1.0,NaN,NaN,NaN,S,N,NaN,NaN,N,1.0,28.0,MADRID,1.0,NaN,NaN,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0

In [20]:
#DATA CLEANING

##Checking all columns

print(df.columns)

Index(['fecha_dato', 'ncodpers', 'ind_empleado', 'pais_residencia', 'sexo',
       'age', 'fecha_alta', 'ind_nuevo', 'antiguedad', 'indrel',
       'ult_fec_cli_1t', 'indrel_1mes', 'tiprel_1mes', 'indresi', 'indext',
       'conyuemp', 'canal_entrada', 'indfall', 'tipodom', 'cod_prov',
       'nomprov', 'ind_actividad_cliente', 'renta', 'segmento',
       'ind_ahor_fin_ult1', 'ind_aval_fin_ult1', 'ind_cco_fin_ult1',
       'ind_cder_fin_ult1', 'ind_cno_fin_ult1', 'ind_ctju_fin_ult1',
       'ind_ctma_fin_ult1', 'ind_ctop_fin_ult1', 'ind_ctpp_fin_ult1',
       'ind_deco_fin_ult1', 'ind_deme_fin_ult1', 'ind_dela_fin_ult1',
       'ind_ecue_fin_ult1', 'ind_fond_fin_ult1', 'ind_hip_fin_ult1',
       'ind_plan_fin_ult1', 'ind_pres_fin_ult1', 'ind_reca_fin_ult1',
       'ind_tjcr_fin_ult1', 'ind_valo_fin_ult1', 'ind_viv_fin_ult1',
       'ind_nomina_ult1', 'ind_nom_pens_ult1', 'ind_recibo_ult1'],
      dtype='object')

In [4]:
#Changing all column names to appropriate and descriptive ones

df = df.rename(columns={'fecha_dato': 'data_date', 'ncodpers': 'customer_id', 'ind_empleado': 'employee_index', 'pais_residencia': 'country_of_residence', 'sexo': 'gender',
       'fecha_alta': 'date_joined', 'ind_nuevo': 'new_customer', 'antiguedad': 'customer_seniority', 'indrel': 'primary_index',
       'ult_fec_cli_1t': 'last_date_as_primary', 'indrel_1mes': 'customer_type', 'tiprel_1mes': 'customer_relation', 'indresi': 'resident', 'indext': 'foreigner',
       'conyuemp': 'employee_spouse', 'canal_entrada': 'channel', 'indfall': 'deceased', 'tipodom': 'address_type', 'cod_prov': 'province_code',
       'nomprov': 'province_name', 'ind_actividad_cliente': 'activity_index', 'renta': 'gross_household_income', 'segmento': 'customer_segment',
       'ind_ahor_fin_ult1': 'saving_acc', 'ind_aval_fin_ult1': 'guarantees', 'ind_cco_fin_ult1': 'current_acc',
       'ind_cder_fin_ult1': 'derivative_acc', 'ind_cno_fin_ult1': 'payroll_acc', 'ind_ctju_fin_ult1': 'junior_acc',
       'ind_ctma_fin_ult1': 'more_particular_acc', 'ind_ctop_fin_ult1': 'particular_acc', 'ind_ctpp_fin_ult1': 'particular_plus_acc',
       'ind_deco_fin_ult1': 'short_term_deposits', 'ind_deme_fin_ult1': 'medium_term_deposits', 'ind_dela_fin_ult1': 'long_term_deposits',
       'ind_ecue_fin_ult1': 'e_account', 'ind_fond_fin_ult1': 'funds', 'ind_hip_fin_ult1': 'mortgage',
       'ind_plan_fin_ult1': 'pensions_plan', 'ind_pres_fin_ult1': 'loans', 'ind_reca_fin_ult1': 'taxes',
       'ind_tjcr_fin_ult1': 'credit_card', 'ind_valo_fin_ult1': 'securities', 'ind_viv_fin_ult1': 'home_acc',
       'ind_nomina_ult1': 'payroll', 'ind_nom_pens_ult1': 'pensions', 'ind_recibo_ult1': 'direct_debit'})

print(df.columns)

Index(['data_date', 'customer_id', 'employee_index', 'country_of_residence',
       'gender', 'age', 'date_joined', 'new_customer', 'customer_seniority',
       'primary_index', 'last_date_as_primary', 'customer_type',
       'customer_relation', 'resident', 'foreigner', 'employee_spouse',
       'channel', 'deceased', 'address_type', 'province_code', 'province_name',
       'activity_index', 'gross_household_income', 'customer_segment',
       'saving_acc', 'guarantees', 'current_acc', 'derivative_acc',
       'payroll_acc', 'junior_acc', 'more_particular_acc', 'particular_acc',
       'particular_plus_acc', 'short_term_deposits', 'medium_term_deposits',
       'long_term_deposits', 'e_account', 'funds', 'mortgage', 'pensions_plan',
       'loans', 'taxes', 'credit_card', 'securities', 'home_acc', 'payroll',
       'pensions', 'direct_debit'],
      dtype='object')

In [5]:
#view Table
df.head(3)

,data_date,customer_id,employee_index,country_of_residence,gender,age,date_joined,new_customer,customer_seniority,primary_index,last_date_as_primary,customer_type,customer_relation,resident,foreigner,employee_spouse,channel,deceased,address_type,province_code,province_name,activity_index,gross_household_income,customer_segment,saving_acc,guarantees,current_acc,derivative_acc,payroll_acc,junior_acc,more_particular_acc,particular_acc,particular_plus_acc,short_term_deposits,medium_term_deposits,long_term_deposits,e_account,funds,mortgage,pensions_plan,loans,taxes,credit_card,securities,home_acc,payroll,pensions,direct_debit
0,2015-01-28,1375586,N,ES,H,35,2015-01-12,0.0,6,1.0,NaN,1.0,A,S,N,NaN,KHL,N,1.0,29.0,MALAGA,1.0,87218.10,02 - PARTICULARES,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
1,2015-01-28,1050611,N,ES,V,23,2012-08-10,0.0,35,1.0,NaN,1,I,S,S,NaN,KHE,N,1.0,13.0,CIUDAD REAL,0.0,35548.74,03 - UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
2,2015-01-28,1050612,N,ES,V,23,2012-08-10,0.0,35,1.0,NaN,1,I,S,N,NaN,KHE,N,1.0,13.0,CIUDAD REAL,0.0,122179.11,03 - UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0

In [6]:
#Convert values in the gender column from "H" and "V" to "M" and "F" to standardize the data.

df['gender'] = df['gender'].replace({'H': 'M', 'V': 'F'})

df.head()

,data_date,customer_id,employee_index,country_of_residence,gender,age,date_joined,new_customer,customer_seniority,primary_index,last_date_as_primary,customer_type,customer_relation,resident,foreigner,employee_spouse,channel,deceased,address_type,province_code,province_name,activity_index,gross_household_income,customer_segment,saving_acc,guarantees,current_acc,derivative_acc,payroll_acc,junior_acc,more_particular_acc,particular_acc,particular_plus_acc,short_term_deposits,medium_term_deposits,long_term_deposits,e_account,funds,mortgage,pensions_plan,loans,taxes,credit_card,securities,home_acc,payroll,pensions,direct_debit
0,2015-01-28,1375586,N,ES,M,35,2015-01-12,0.0,6,1.0,NaN,1.0,A,S,N,NaN,KHL,N,1.0,29.0,MALAGA,1.0,87218.10,02 - PARTICULARES,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
1,2015-01-28,1050611,N,ES,F,23,2012-08-10,0.0,35,1.0,NaN,1,I,S,S,NaN,KHE,N,1.0,13.0,CIUDAD REAL,0.0,35548.74,03 - UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
2,2015-01-28,1050612,N,ES,F,23,2012-08-10,0.0,35,1.0,NaN,1,I,S,N,NaN,KHE,N,1.0,13.0,CIUDAD REAL,0.0,122179.11,03 - UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
3,2015-01-28,1050613,N,ES,M,22,2012-08-10,0.0,35,1.0,NaN,1,I,S,N,NaN,KHD,N,1.0,50.0,ZARAGOZA,0.0,119775.54,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
4,2015-01-28,1050614,N,ES,F,23,2012-08-10,0.0,35,1.0,NaN,1,A,S,N,NaN,KHE,N,1.0,50.0,ZARAGOZA,1.0,NaN,03 - UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0

In [7]:
#Convert the "S" and "N" values to "Yes" and "No" to make them more explicit.
df['resident'] = df['resident'].replace({'S': 'Yes', 'N': 'No'})

df['foreigner'] = df['foreigner'].replace({'S': 'Yes', 'N': 'No'})

df['deceased'] = df['deceased'].replace({'S': 'Yes', 'N': 'No'})

df.head()

,data_date,customer_id,employee_index,country_of_residence,gender,age,date_joined,new_customer,customer_seniority,primary_index,last_date_as_primary,customer_type,customer_relation,resident,foreigner,employee_spouse,channel,deceased,address_type,province_code,province_name,activity_index,gross_household_income,customer_segment,saving_acc,guarantees,current_acc,derivative_acc,payroll_acc,junior_acc,more_particular_acc,particular_acc,particular_plus_acc,short_term_deposits,medium_term_deposits,long_term_deposits,e_account,funds,mortgage,pensions_plan,loans,taxes,credit_card,securities,home_acc,payroll,pensions,direct_debit
0,2015-01-28,1375586,N,ES,M,35,2015-01-12,0.0,6,1.0,NaN,1.0,A,Yes,No,NaN,KHL,No,1.0,29.0,MALAGA,1.0,87218.10,02 - PARTICULARES,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
1,2015-01-28,1050611,N,ES,F,23,2012-08-10,0.0,35,1.0,NaN,1,I,Yes,Yes,NaN,KHE,No,1.0,13.0,CIUDAD REAL,0.0,35548.74,03 - UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
2,2015-01-28,1050612,N,ES,F,23,2012-08-10,0.0,35,1.0,NaN,1,I,Yes,No,NaN,KHE,No,1.0,13.0,CIUDAD REAL,0.0,122179.11,03 - UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
3,2015-01-28,1050613,N,ES,M,22,2012-08-10,0.0,35,1.0,NaN,1,I,Yes,No,NaN,KHD,No,1.0,50.0,ZARAGOZA,0.0,119775.54,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
4,2015-01-28,1050614,N,ES,F,23,2012-08-10,0.0,35,1.0,NaN,1,A,Yes,No,NaN,KHE,No,1.0,50.0,ZARAGOZA,1.0,NaN,03 - UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0

In [8]:
#Check for missing data

print(df.isnull().sum())

data_date                        0
customer_id                      0
employee_index               27734
country_of_residence         27734
gender                       27804
age                              0
date_joined                  27734
new_customer                 27734
customer_seniority               0
primary_index                27734
last_date_as_primary      13622516
customer_type               149781
customer_relation           149781
resident                     27734
foreigner                    27734
employee_spouse           13645501
channel                     186126
deceased                     27734
address_type                 27735
province_code                93591
province_name                93591
activity_index               27734
gross_household_income     2794375
customer_segment            189368
saving_acc                       0
guarantees                       0
current_acc                      0
derivative_acc                   0
payroll_acc                      0
junior_acc                       0
more_particular_acc              0
particular_acc                   0
particular_plus_acc              0
short_term_deposits              0
medium_term_deposits             0
long_term_deposits               0
e_account                        0
funds                            0
mortgage                         0
pensions_plan                    0
loans                            0
taxes                            0
credit_card                      0
securities                       0
home_acc                         0
payroll                      16063
pensions                     16063
direct_debit                     0
dtype: int64

In [9]:
df

,data_date,customer_id,employee_index,country_of_residence,gender,age,date_joined,new_customer,customer_seniority,primary_index,last_date_as_primary,customer_type,customer_relation,resident,foreigner,employee_spouse,channel,deceased,address_type,province_code,province_name,activity_index,gross_household_income,customer_segment,saving_acc,guarantees,current_acc,derivative_acc,payroll_acc,junior_acc,more_particular_acc,particular_acc,particular_plus_acc,short_term_deposits,medium_term_deposits,long_term_deposits,e_account,funds,mortgage,pensions_plan,loans,taxes,credit_card,securities,home_acc,payroll,pensions,direct_debit
0,2015-01-28,1375586,N,ES,M,35,2015-01-12,0.0,6,1.0,NaN,1.0,A,Yes,No,NaN,KHL,No,1.0,29.0,MALAGA,1.0,87218.10,02 - PARTICULARES,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
1,2015-01-28,1050611,N,ES,F,23,2012-08-10,0.0,35,1.0,NaN,1,I,Yes,Yes,NaN,KHE,No,1.0,13.0,CIUDAD REAL,0.0,35548.74,03 - UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
2,2015-01-28,1050612,N,ES,F,23,2012-08-10,0.0,35,1.0,NaN,1,I,Yes,No,NaN,KHE,No,1.0,13.0,CIUDAD REAL,0.0,122179.11,03 - UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
3,2015-01-28,1050613,N,ES,M,22,2012-08-10,0.0,35,1.0,NaN,1,I,Yes,No,NaN,KHD,No,1.0,50.0,ZARAGOZA,0.0,119775.54,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
4,2015-01-28,1050614,N,ES,F,23,2012-08-10,0.0,35,1.0,NaN,1,A,Yes,No,NaN,KHE,No,1.0,50.0,ZARAGOZA,1.0,NaN,03 - UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13647304,2016-05-28,1166765,N,ES,F,22,2013-08-14,0.0,33,1.0,NaN,1,I,Yes,No,NaN,KHE,No,1.0,50.0,ZARAGOZA,0.0,43912.17,03 - UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
13647305,2016-05-28,1166764,N,ES,F,23,2013-08-14,0.0,33,1.0,NaN,1,I,Yes,No,NaN,KHE,No,1.0,26.0,"RIOJA, LA",0.0,23334.99,03 - UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
13647306,2016-05-28,1166763,N,ES,M,47,2013-08-14,0.0,33,1.0,NaN,1,A,Yes,No,NaN,KHE,No,1.0,50.0,ZARAGOZA,1.0,NaN,02 - PARTICULARES,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
13647307,2016-05-28,1166789,N,ES,M,22,2013-08-14,0.0,33,1.0,NaN,1.0,I,Yes,No,NaN,KHE,No,1.0,50.0,ZARAGOZA,0.0,199592.82,03 - UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
13647308,2016-05-28,1550586,N,ES,M,37,2016-05-13,1.0,0,1.0,NaN,NaN,NaN,Yes,No,NaN,NaN,No,1.0,28.0,MADRID,1.0,NaN,NaN,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0

In [12]:
#Checking for missing data

for col in df.columns:
    pct_missing = np.mean(df[col].isnull())
    print('{} - {}%'.format(col, pct_missing))

data_date - 0.0%
customer_id - 0.0%
employee_index - 0.002032195504622926%
country_of_residence - 0.002032195504622926%
gender - 0.002037324720939491%
age - 0.0%
date_joined - 0.002032195504622926%
new_customer - 0.002032195504622926%
customer_seniority - 0.0%
primary_index - 0.002032195504622926%
last_date_as_primary - 0.9981833048551916%
customer_type - 0.010975130701591061%
customer_relation - 0.010975130701591061%
resident - 0.002032195504622926%
foreigner - 0.002032195504622926%
employee_spouse - 0.999867519669995%
channel - 0.01363829308767025%
deceased - 0.002032195504622926%
address_type - 0.002032268779141734%
province_code - 0.006857835489765785%
province_name - 0.006857835489765785%
activity_index - 0.002032195504622926%
gross_household_income - 0.20475648349429182%
customer_segment - 0.013875849077646003%
saving_acc - 0.0%
guarantees - 0.0%
current_acc - 0.0%
derivative_acc - 0.0%
payroll_acc - 0.0%
junior_acc - 0.0%
more_particular_acc - 0.0%
particular_acc - 0.0%
particular_plus_acc - 0.0%
short_term_deposits - 0.0%
medium_term_deposits - 0.0%
long_term_deposits - 0.0%
e_account - 0.0%
funds - 0.0%
mortgage - 0.0%
pensions_plan - 0.0%
loans - 0.0%
taxes - 0.0%
credit_card - 0.0%
securities - 0.0%
home_acc - 0.0%
payroll - 0.0011770085956139778%
pensions - 0.0011770085956139778%
direct_debit - 0.0%

In [13]:
df.head()

,data_date,customer_id,employee_index,country_of_residence,gender,age,date_joined,new_customer,customer_seniority,primary_index,last_date_as_primary,customer_type,customer_relation,resident,foreigner,employee_spouse,channel,deceased,address_type,province_code,province_name,activity_index,gross_household_income,customer_segment,saving_acc,guarantees,current_acc,derivative_acc,payroll_acc,junior_acc,more_particular_acc,particular_acc,particular_plus_acc,short_term_deposits,medium_term_deposits,long_term_deposits,e_account,funds,mortgage,pensions_plan,loans,taxes,credit_card,securities,home_acc,payroll,pensions,direct_debit
0,2015-01-28,1375586,N,ES,M,35,2015-01-12,0.0,6,1.0,NaN,1.0,A,Yes,No,NaN,KHL,No,1.0,29.0,MALAGA,1.0,87218.10,02 - PARTICULARES,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
1,2015-01-28,1050611,N,ES,F,23,2012-08-10,0.0,35,1.0,NaN,1,I,Yes,Yes,NaN,KHE,No,1.0,13.0,CIUDAD REAL,0.0,35548.74,03 - UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
2,2015-01-28,1050612,N,ES,F,23,2012-08-10,0.0,35,1.0,NaN,1,I,Yes,No,NaN,KHE,No,1.0,13.0,CIUDAD REAL,0.0,122179.11,03 - UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
3,2015-01-28,1050613,N,ES,M,22,2012-08-10,0.0,35,1.0,NaN,1,I,Yes,No,NaN,KHD,No,1.0,50.0,ZARAGOZA,0.0,119775.54,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
4,2015-01-28,1050614,N,ES,F,23,2012-08-10,0.0,35,1.0,NaN,1,A,Yes,No,NaN,KHE,No,1.0,50.0,ZARAGOZA,1.0,NaN,03 - UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0